@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: var(--Raleway);
}

.nav-bar{
  background: linear-gradient(135deg, #E7D1B1,#E7D1B1,#E7D1B1);
 
}

.menu{
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

.oswald{
  font-family: var(--Oswald);
}

.overlay{
  opacity: 2;
  display: grid;
  grid-template-columns: repeat();
}